extends ../layout/layout.pug
block vars
	- var title = 'Акции детальная';
block header
	include ../includes/header.pug
block content
	include ../includes/content-actions-detail.pug
block footer
	include ../includes/footer.pug