extends ../layout/layout.pug
block vars
	- var title = 'Расписание';
block header
	include ../includes/header.pug
block content
	include ../includes/content-schedule.pug
block footer
	include ../includes/footer.pug