main.main
	.container
		.main-top.main-top_schedule
			.main-top__img 
				img.show-desktop(src="./img/schedule.jpg" alt="")
				img.show-mobile(src="./img/schedule-mobile.jpg" alt="")
			.main-top__desc
				.breadcrumbs 
					ul 
						li 
							a Главная 
						li Расписание
				h1.h1 Расписание
				a.button.button-ticket(href="") Купить билет
		.fleet 
			.fleet__about 
				.fleet__text 
					p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности 
				.fleet__text
					p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности 
			.schedule
				.schedule__block
					h2.h2 Маршрут: Ростов-на-Дону – Азов
					.schedule__inner
						.schedule-days
							.schedule-days__title Будние дни
							.schedule-days__table
								.schedule-days__thead
									.schedule-days__row
										.schedule-days__td Ростов-на-Дону
										.schedule-days__td Азов
								.schedule-days__tbody
									.schedule-days__row
										.schedule-days__td 09:50
										.schedule-days__td 10:35
									.schedule-days__row
										.schedule-days__td 15:00
										.schedule-days__td 15:45
									.schedule-days__row
										.schedule-days__td 18:10
										.schedule-days__td 18:55
						.schedule-days
							.schedule-days__title Выходные и праздничные дни
							.schedule-days__table
								.schedule-days__thead
									.schedule-days__row
										.schedule-days__td Ростов-на-Дону
										.schedule-days__td Азов
								.schedule-days__tbody
									.schedule-days__row
										.schedule-days__td 07:25
										.schedule-days__td 08:10
									.schedule-days__row
										.schedule-days__td 09:50
										.schedule-days__td 10:35
									.schedule-days__row
										.schedule-days__td 15:00
										.schedule-days__td 15:45
									.schedule-days__row
										.schedule-days__td 18:10
										.schedule-days__td 18:55
				.schedule__block
					h2.h2 Маршрут: Азов – Ростов-на-Дону
					.schedule__inner
						.schedule-days
							.schedule-days__title Будние дни
							.schedule-days__table
								.schedule-days__thead
									.schedule-days__row
										.schedule-days__td Азов
										.schedule-days__td Ростов-на-Дону
								.schedule-days__tbody
									.schedule-days__row
										.schedule-days__td 11:50
										.schedule-days__td 12:35
									.schedule-days__row
										.schedule-days__td 16:05
										.schedule-days__td 16:50
									.schedule-days__row
										.schedule-days__td 19:20
										.schedule-days__td 20:05
						.schedule-days
							.schedule-days__title Выходные и праздничные дни
							.schedule-days__table
								.schedule-days__thead
									.schedule-days__row
										.schedule-days__td Азов
										.schedule-days__td Ростов-на-Дону
								.schedule-days__tbody
									.schedule-days__row
										.schedule-days__td 08:30
										.schedule-days__td 09:15
									.schedule-days__row
										.schedule-days__td 11:50
										.schedule-days__td 12:35
									.schedule-days__row
										.schedule-days__td 16:05
										.schedule-days__td 16:50
									.schedule-days__row
										.schedule-days__td 19:20
										.schedule-days__td 20:05

