main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li Акции
		h1.h1 Акции
		.actions
			.actions__items 
				.actions__item
					a(href="")
						img(src="./img/action1.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action2.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action3.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action4.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action5.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action6.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action7.jpg" alt="")
				.actions__item
					a(href="")
						img(src="./img/action8.jpg" alt="")
