main.main
	.container
		.main-top
			.main-top__img 
				img(src="./img/about-img.jpg" alt="")
			.main-top__desc
				.breadcrumbs
					ul 
						li 
							a Главная
						li О компании
				h1.h1 О компании
				a.button.button-ticket(href="") Купить билет
		.about
			.fleet__about
				.fleet__text
					p Основной сферой деятельности компании «ДОН» являются речные пассажирские перевозки по внутренним водным путям на скоростных пассажирских судах «Валдай 45Р».
					p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				.fleet__text
					p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
			.about__items
				.about__item
					.about__count 1
					.about__name Комфорт
					.about__text
						ul
							li Суда оснащены интуитивно понятной современной системой управления, специально разработанной для оптимизации управления, снижения нагрузки на экипаж, обеспечения максимальной эффективности расхода топлива и безопасной эксплуатации.
							li Суда представляют пассажирам просторные салоны класса «стандарт» и «комфорт», которые оборудованы удобными креслами, современной системой кондиционирования, вместительными багажными полками для каждого пассажира.
							li Возможность перевозки пассажиров с ограниченными возможностями.
				.about__item
					.about__count 2
					.about__name Рентабельность
					.about__text
						ul
							li Низкий расход топлива за счет применения современных энергетических установок, улучшенных гидродинамических характеристик подводных крыльев, использование легких сплавов и композитных материалов в конструкции корпуса судов.
							li Суда оснащены мостиковой системой, где реализованы новейшие технологии эргономики и дизайна, позволяющие интуитивно использовать интегрированное оборудование высокой информационной плотности.
							li Существенно увеличен ресурс судна за счет применения современных технологий, оборудования и материалов.
				.about__item
					.about__count 3
					.about__name Экологичность
					.about__text
						ul
							li Показатели выброса газов и уровня шума соответствует международным экологическим нормам.
							li Низкое волнообразование за счет применения подводных крыльев позволяет минимизировать размытие берегов и сохранять прибрежные экосистемы.
			+gallery()
			.section-gallery.section-gallery_licenses
				.h2 Лицензии
				.swiper-inner
					.swiper.section-slider.section-slider-licenses
						.swiper-wrapper
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license1.jpg" data-fancybox="gallery2")
									img(src="./img/license1.jpg" alt="")
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license2.jpg" data-fancybox="gallery2")
									img(src="./img/license2.jpg" alt="")
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license3.jpg" data-fancybox="gallery2")
									img(src="./img/license3.jpg" alt="")
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license1.jpg" data-fancybox="gallery2")
									img(src="./img/license1.jpg" alt="")
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license2.jpg" data-fancybox="gallery2")
									img(src="./img/license2.jpg" alt="")
							.swiper-slide.section-slider__slide
								a.image-popup(href="./img/license3.jpg" data-fancybox="gallery")
									img(src="./img/license3.jpg" alt="")
					.swiper-button-next.section-slider-licenses__next
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.4697 8.46967C12.7626 8.17678 13.2374 8.17678 13.5303 8.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L13.5303 15.5303C13.2374 15.8232 12.7626 15.8232 12.4697 15.5303C12.1768 15.2374 12.1768 14.7626 12.4697 14.4697L14.1893 12.75H8C7.58579 12.75 7.25 12.4142 7.25 12C7.25 11.5858 7.58579 11.25 8 11.25H14.1893L12.4697 9.53033C12.1768 9.23744 12.1768 8.76256 12.4697 8.46967Z" fill="#E95522" /></svg>
					.swiper-button-prev.section-slider-licenses__prev
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.5303 8.46967C11.2374 8.17678 10.7626 8.17678 10.4697 8.46967L7.46967 11.4697C7.17678 11.7626 7.17678 12.2374 7.46967 12.5303L10.4697 15.5303C10.7626 15.8232 11.2374 15.8232 11.5303 15.5303C11.8232 15.2374 11.8232 14.7626 11.5303 14.4697L9.81066 12.75H16C16.4142 12.75 16.75 12.4142 16.75 12C16.75 11.5858 16.4142 11.25 16 11.25H9.81066L11.5303 9.53033C11.8232 9.23744 11.8232 8.76256 11.5303 8.46967Z" fill="#E95522" /></svg>
			.about__options
				.about__option
					.about__option-name Полное наименование
					.about__option-value АКЦИОНЕРНОЕ ОБЩЕСТВО "СУДОХОДНАЯ ПАССАЖИРСКАЯ КОМПАНИЯ "ДОН"
				.about__option
					.about__option-name Сокращенное наименование
					.about__option-value АО “СПК Дон”
				.about__option
					.about__option-name ОГРН
					.about__option-value 1236100011773
				.about__option
					.about__option-name ИНН/КПП
					.about__option-value 6167205422 / 616701001
				.about__option
					.about__option-name Юр.адрес
					.about__option-value 344019, Ростовская область, г Ростов-На-Дону, Нижегородская ул, влд. 20/11
				.about__option
					.about__option-name Банковские реквизиты
					.about__option-value Р/сч 40702810329380001547 ФИЛИАЛ «НИЖЕГОРОДСКИЙ» АО «АЛЬФА-БАНК» БИК 042202824 Кор. сч. 30101810200000000824
				.about__option
					.about__option-name ОКПО
					.about__option-value 55166393
				.about__option
					.about__option-name ОКВЭД
					.about__option-value 50.30
				.about__option
					.about__option-name Т/ф
					.about__option-value +7 831 423-72-26
