main.main
	.container
		.main-top
			.main-top__img 
				img(src="./img/action-detail.jpg" alt="")
			.main-top__desc
				.breadcrumbs 
					ul 
						li 
							a Главная 
						li 
							a Акции
						li Акция
				//- h1.h1 Акция
				button.button.button-ticket(href="") Купить билет
		.action 
			.action__about 
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
		.section-actions 
				.section-actions__inner
					.h2 Другие акции
					.section-slider-two
						.section-slider__slide 
							a(href="")
								img(src="./img/action1.jpg" alt="")
						.section-slider__slide 
							a(href="")
								img(src="./img/action2.jpg" alt="")
						.section-slider__slide 
							a(href="")
								img(src="./img/action1.jpg" alt="")
						.section-slider__slide 
							a(href="")
								img(src="./img/action2.jpg" alt="")
					a.button.button_white.section-actions__button(href="") Все акции
