main.main
	.container
			.page-404 
				.page-404__img
					img(src="./img/404.png" alt="")
				.page-404__text К сожалению, запрашиваемая страница не найдена. Возможно, вы перешли по ссылке, в которой была допущена ошибка, или ресурс был удален.
				.page-404__text Попробуйте перейти на главную страницу 
				a.button.button_404(href="") Главная